<button
  [type]="type"
  [disabled]="disabled"
  [ngClass]="color"
  class="btn"
>
  {{ label }}
</button>



<!-- 
  Boutons réutilisables créés avec le composant <app-button>
  Chaque bouton reçoit des inputs différents (label, type, couleur, disabled)
  Utilisé dans différentes parties de l'application : formulaires, actions, etc.
-->

<!-- 
<app-button label="Sign Up" color="primary" [routerLink]="['/login']"></app-button>
<app-button label="Verify Email" color="secondary""></app-button>
<app-button label="Login" color="primary" [routerLink]="['/myList']"></app-button>
<app-button label="Add Member" color="primary" AddMember()></app-button>
-->
