<!-- src/app/pages/members/members.component.html -->

<main class="add-member">

  <div class="row">
  
  <div class="fleche"> 
    <app-back-button></app-back-button>
  </div>
  
  <h1>Ajouter un membre</h1>

  </div>
  <!-- Composant de retour réutilisable -->


  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

    <app-input
      id="name"
      formControlName="name"
      label="Nom"
      type="text"
      placeholder="Nom"
      [minlength]="4"
      [maxlength]="49">
    </app-input>
    <p class="error" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
      Le nom doit comporter entre 4 et 49 caractères.
    </p>

    <app-select-input
      id="genre"
      formControlName="genre"
      label="Genre"
      [options]="genres"
      placeholder="Masculin / Féminin / Autre">
    </app-select-input>
    <p class="error" *ngIf="form.get('genre')?.invalid && form.get('genre')?.touched">
      Veuillez sélectionner un genre.
    </p>

    <app-select-input
      id="aisanceFrancais"
      formControlName="level"
      label="Aisance Français"
      [options]="aisances"
      placeholder="1 à 4">
    </app-select-input>
    <p class="error" *ngIf="form.get('level')?.invalid && form.get('level')?.touched">
      Veuillez indiquer votre aisance en français.
    </p>

    <app-checkbox
      id="ancienDW"
      formControlName="ancienDW"
      label="Ancien DWWM">
    </app-checkbox>

    <app-select-input
      id="technical"
      formControlName="technical"
      label="Niveau Technique"
      [options]="technicalLevels"
      placeholder="1 à 4">
    </app-select-input>
    <p class="error" *ngIf="form.get('technical')?.invalid && form.get('technical')?.touched">
      Veuillez sélectionner votre niveau technique.
    </p>

    <app-select-input
      id="profile"
      formControlName="profile"
      label="Profil"
      [options]="profiles"
      placeholder="Timide / Réservé / À l’aise">
    </app-select-input>
    <p class="error" *ngIf="form.get('profile')?.invalid && form.get('profile')?.touched">
      Veuillez sélectionner un profil.
    </p>

    <app-input
      id="age"
      formControlName="age"
      label="Âge"
      type="number"
      placeholder="Âge"
      [min]="1"
      [max]="99">
    </app-input>
    <p class="error" *ngIf="form.get('age')?.invalid && form.get('age')?.touched">
      L’âge doit être compris entre 1 et 99 ans.
    </p>

    <app-button
      type="submit"
      label="Ajouter"
      color="primary"
      [disabled]="form.invalid">
    </app-button>
  </form>
</main>
