<footer>
  <div class="copyright">
    © 2025 - Projet de La Débauche - Simplon
  </div>
  <div class="footer-links">
    <button routerLink='' class="footer-btn">
      <fa-icon [icon]="['fas', 'home']" class="icon-visible"></fa-icon>
      <span class="btn-text">Accueil</span>
    </button>
    <span>•</span>
    <button onclick="window.open('https://github.com/Quentin384/Groups-Front', '_blank')" class="footer-btn github-btn">
      <fa-icon [icon]="['fab', 'github']" class="icon-visible"></fa-icon>
      <span class="btn-text">GitHub</span>
    </button>
    <span>•</span>
    <button type="button" (click)="openLegalModal()" class="footer-btn">
      <fa-icon [icon]="['fas', 'scale-balanced']" class="icon-visible"></fa-icon>
      <span class="btn-text">Mentions légales</span>
    </button>
    <span>•</span>
    <button type="button" (click)="logout()" class="footer-btn">
      <fa-icon [icon]="['fas', 'right-from-bracket']" class="icon-visible"></fa-icon>
      <span class="btn-text">Déconnexion</span>
    </button>
  </div>

  <!-- Modal Mentions légales -->
  <div *ngIf="showLegalModal" class="modal-overlay">
    <div class="modal-content">
      <h2 class="modal-title">Mentions légales</h2>
      <p class="modal-text">
        Ceci est un projet pédagogique réalisé dans le cadre de la formation Simplon.<br />
        Aucune donnée personnelle n’est collectée ou conservée.<br />
        Le contenu présenté est fictif et à usage non commercial.<br />
        Pour toute question : contact&#64;simplon.co
      </p>

      <button class="modal-close-btn" (click)="closeLegalModal()">
        Fermer
      </button>
    </div>
  </div>
</footer>
