<main class="list-page">

  <section class="list-page__content">

    <div class="list-page__items">
      <div *ngFor="let item of items" class="list-item">
        <div class="list-item__content">
          <h3 class="list-item__title">{{ item.name }}</h3>
          <div class="list-item__details">
            <span class="list-item__members">{{ item.members }} membres</span>
          </div>
        </div>
        <div class="list-item__actions">
        <a routerLink="/list/details">
          <app-button
            label="Voir details"
            color="secondary"
            type="button">
          </app-button>
        </a>
        </div>
      </div>

      <div *ngIf="items.length === 0" class="no-items">
        <p>Aucun groupe trouvé. Veuillez créer une nouvelle liste.</p>
      </div>
    </div>
  </section>

  <div class="list-page__actions">
    <a routerLink="/profile/new">
      <app-button
        label="Créer une liste"
        color="secondary"
        type="button">
      </app-button>
    </a>
  </div>
</main>

